/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto Mono";
    font-size: 1.6rem;
    line-height: 1.5;
    color: #84DCC6;
    background-color: #0D5C63;
}

section {

    padding: 2%;
    margin: 2%;
}

h1 {
    font-family: "Corben";
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color:#D88373;
    line-height: 0.5;
}

h3 {
    font-family: "Corben";
    font-weight: bold;
    font-size: 1.8rem;
    
}


/* Header */

#home {
    margin:0;
    padding: 0;
}

.header-txt {
    margin: 4%;
    padding:2%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ACD7EC;
    font-weight: bold;
    font-size: 1.8rem;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2532;
    width: 100%;
    margin: 0;
}


nav a {
    width: 15%;
    padding: 1%;
    border: 1px black;
    border-style: dashed none;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #2E2532;
}

nav a:hover {
    color: #36558F;
}

/* About */

#about {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pink {
    color:#D88373;
    padding: 1%;
}

.about-txt {
    margin: 4%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.about-img {
    width: 100%;
    height: 80vh;
    margin: 0;
    background-image: url("/assets/InCollage_20220922_115904219.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    margin-bottom: 5%;
}


/* Projects */

#projects {
    padding: 0;
    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: space-around;
}

.project-pics {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

#projects img {
    height: 75vh;
    width: 30vh;
    overflow: hidden;
}

.project-text {
    width: 20%;
    margin: 0;
    align-items: center;
}

/* Footer */

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2E2532;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 4%;
}

.button, .other {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.social {
    display: flex;
    justify-content: flex-start;
    width: 25%;
}

button {
    background-color: #ACD7EC;
    border: none;
    color: #2E2532;
    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: 1.8rem;
    padding: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

footer img {
    height: 75px;
    width: 75px;
    align-items: flex-start;
}

@media(max-width: 800px){
   .header-txt{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
   }

   nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0D5C63;
   }

   nav a{
    border: 1px dashed black;
    padding: 2%;
    margin: 1%;
    width: 30%;
   }

   #about {
    padding: 0;
    margin: 0;
   }

   .about-txt {
    align-items: center;
    justify-content: center;
    text-align: center;
   }

   .about-img {
    height: 60vh;
   }

   #projects {
    flex-direction: column;
    flex-wrap: wrap;
    
   }

   #projects img {
    height: 60vh;
    width: 25vh;
   }

   .project-pics {
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }

   .project-text {
    width: 75%;
    text-align: center;
   }

}

@media(max-width: 500px){
    h1 {
        font-size: 4.5rem;
    }

    #projects img {
        height: 55vh;
        width: 20vh;

    }

    .project-pics{
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
}